.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.input-field {
  width: 80%;
  margin-top: 10px;
  
}

.button-style {
  margin-top: 20px;
  background-color: #235B2D;
  color: white;
  border-radius: 5px;
}

.button-style-plant {
  margin-top: 20px;
  background-color: #235B2D;
  color: white;
  border-radius: 5px;
  width: 10%;
  margin: 0 auto;
}
.location-field {
  width: 80%;
}

